<div class="content_main">
    <div class="inputs">
        <div id="input_title_forum">
            Title: 
        </div>
        <div id="input_text_forum">
            <input id="title" name="title" type="text" />
        </div>
        <div id="input_title_forum">
            Description: 
        </div>
        <div id="input_text_forum">
            <input id="description" name="description" type="text" />
        </div>
        <div id="buttons">
            <Button id="post"> POST </Button>
        </div>
    </div>
</div>