<div class="content_main">
    <div class="title_container">
        <div class="content_title">
            Flow network
        </div>
    </div>
    <div class="body_container">
        <div class="content_body">
            A Flow network is a directed graph where each edge has a capacity and a flow. They are typically used to model problems involving the transport of items between locations, using a network of routes with limited capacity. Examples include modeling traffic on a network of roads, fluid in a network of pipes, and electricity in a network of circuit components.
            <br><br>
For example, a company might want to ship packages from Los Angeles to New York City using trucks to transport between intermediate cities. If there is only one truck for the route connecting a pair of cities and each truck has a maximum load, then the graph describing the transportation options will be a flow network. Each node will represent a city and each edge will represent a truck route between those cities (e.g. a highway). The capacity for a particular route will be the maximum load the truck for that route can carry. Using this model, the company can decide how to split their packages between trucks so that the packages can reach their destination using the available routes and trucks. The number of packages the company decides to ship along a particular truck route is the flow for that route.
<br><br>
Imagine a courier service that wants to ship as many widgets as possible from city ss to city tt. Unfortunately, there is no way to ship widgets directly from ss to tt, so the courier service must ship the widgets using the intermediate cities aa, bb, cc, and dd. Particular pairs of cities are connected by flights, which allow the transport of widgets between those cities. This transportation network can be represented by the following directed graph, where nodes represent cities and directed edges represent flights between those cities.
<br><br>
source: https://brilliant.org/wiki/flow-network/
        </div>
    </div>
</div>