<div class="main_container">
    <script src="js/forum_bf.js"></script>
    <div class="friends_list">
        <p>Topics</p>
        <div id="blog_headers">
            <div id="add_topics_here">

            </div>
            <div id="add_new_forum" class="tab">
                +
            </div>
        </div>
    </div>
    <div id="main_section">
        <div class="content_main">
            <div class="title_container">
                <div id="content_title">
                    ...
                </div>
            </div>
            <div class="desc_container">
                <div id="content_body">
                    ...
                </div>
            </div>
            <div class="replies_container">
                <div id="add_replies_here">
    
                </div>
            </div>
            <div id="add_reply">
                <div class="reply_container">
                    <div class="add_reply_content"  placeholder="Message...">
                        <input type="text" id="reply" name="reply">
                    </div>
                    <div id="post_reply">
                        <button id="reply_button" type="post_reply">REPLY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>