<head>
  <link rel="stylesheet" type="text/css" href="css/dark.css"  id="stylesheet"  title="Dark">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

  <script src="js/logout_bf.js"></script>
  <title>Simple Student Templating Solutions</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>

<ul class="head_foot">
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/main">Message</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/forum">Forum</a></li>
  <li id="float_right"><a id="log_out"></a></li>
  <li id="float_right">
    <label class="switch">
      <input id="toggle_dark_mode" type="checkbox">
      <span class="slider round"></span>
    </label>    
  </li>
</ul>

