<div class="main_container">
    <script src="js/login_bf.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div class="login_main">
        <div class="login_box">
            <div class="login_title">
                Login
            </div>
            <p id="error"></p>
            <div class="inputs">
                <div id="input_title">
                    Username: 
                </div>
                <div id="input_text">
                    <input id="username" name="username" type="text" />
                </div>
                <div id="input_title">
                    Password: 
                </div>
                <div id="input_text">
                    <input id="password" name="password" type="password" />
                </div>
                <div id="buttons">
                    <Button id="login_post"> Login </Button>
                    <Button id="login_button"> Register </Button>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>