<div class="main_container">
    <script src="js/main_bf.js"></script>
    <div class="friends_list">
        <p1 style="font-size:18px">Welcome</p1>
        <p1 id="user" style="font-size:15px"></p1>
        <p>Friends List</p>
        <div class="new_friend_tab">
            <p id="err">
                Add Friend
            </p>
            <p id="err"></p>
            <div id="add_friend">
                <input id="add_friend_username" placeholder="username" type="text" />
                <button id="mini_button" value="Add" type="submit">Add</button>
            </div>
        </div>
        <div id="add_friends_here">

        </div>
    </div>
    <div class="message_box">
        <div id="previous_messages" class="previous_messages">

        </div>
        <!-- <div class="write_message">
            <div class="form" method="post">
                <input id="input" type="Aa" type="text" />
                <button id="send_message" value="Send" type="submit">Encrypt</button>
            </div>
        </div> -->
        <div id="add_reply">
            <div class="reply_container">
                <div class="add_reply_content">
                    <input type="text" id="reply" name="reply">
                </div>
                <div id="post_reply">
                    <button id="reply_button" type="post_reply">SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>