<div class="main_container">
    <script src="js/register_bf.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div class="login_main">  
        <div class="login_box">
            <div class="login_title">
                Register
            </div>
            <p id="error"></p>
            <div class="inputs">
                <div id="input_title">
                    Username: 
                </div>
                <div id="input_text">
                    <input id="username" name="username" type="text" />
                </div>
                <div id="input_title">
                    Password: 
                </div>
                <div id="input_text">
                    <input id="password" name="password" type="password" />
                </div>
                <div id="input_title">
                    Retype Password: 
                </div>
                <div id="input_text">
                    <input id="password_retype" name="password_retype" type="password" />
                </div>
                <div id="buttons">
                    <Button id="register_post"> Register </Button>
                </div>
            </div>
        </div>
    </div>  
</div>